@import url("https://fonts.googleapis.com/css2?family=Muli&display=swap");

* {
  /* width not affected by padding or border */
  box-sizing: border-box;
}

body {
  font-family: "Muli", sans-serif;
  /* linear gradient from top to bottom, color 1 0% - 50% | color 2 50% - 100% */
  background-image: linear-gradient(
    to bottom,
    #eafbff 0%,
    #eafbff 50%,
    #5290f9 50%,
    #5290f9 100%
  );
  /* include background color in case browser doesn't support gradient */
  background-color: #eafbff;
  display: flex;
  /* Centered horizontally */
  align-items: center;
  /* Centered vertically on 100% viewport */
  justify-content: center;
  /* 100% viewport height */
  height: 100vh;
  /* no margins */
  margin: 0;
}

nav {
  background-color: #fff;
  /* 20px all around */
  padding: 20px;
  /* non-active width */
  width: 80px;
  display: flex;
  /* Centered horizontally */
  align-items: center;
  /* Centered vertically on 100% viewport */
  justify-content: center;
  /* slightly rounded corners */
  border-radius: 3px;
  /* offset-x | offset-y | blur-radius | color */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  /* 0.6s transition on width when active class toggled */
  transition: width 0.6s linear;
}

/* nav with active class */
nav.active {
  width: 350px;
}

/* list in nav */
nav ul {
  display: flex;
  /* remove list item marker (bullet) */
  list-style-type: none;
  /* remove padding */
  padding: 0;
  /* remove margins */
  margin: 0;
  /* no width without active class */
  width: 0;
  /* 0.6s transition on width when active class toggled */
  transition: width 0.6s linear;
}

/* list in nav when nav active */
nav.active ul {
  /* full container width */
  width: 100%;
}

/* list items in nav */
nav ul li {
  /* 0 degree rotation when not active  */
  transform: rotateY(0deg);
  /* invisible when not active  */
  opacity: 0;
  /* 0.6s transition on transform and opacity when active class toggled */
  transition: transform 0.6s linear, opacity 0.6s linear;
}

/* list items in nav when active */
nav.active ul li {
  /* fully visible */
  opacity: 1;
  /* rotate 360 degrees when active toggled */
  transform: rotateY(360deg);
}

/* links in list item in nav */
nav ul a {
  position: relative;
  color: #000;
  /* removes underline from link */
  text-decoration: none;
  /* 0 top/bottom | 10px sides */
  margin: 0 10px;
}

/* button with class icon */
.icon {
  background-color: #fff;
  /* remove outline */
  border: 0;
  /* pointer when hovered */
  cursor: pointer;
  /* no padding */
  padding: 0;
  /* relative so can position lines inside absolute */
  position: relative;
  height: 30px;
  width: 30px;
}

/* ** I'm going to leave the outline for accessibility, but I'll change the color */
/* icon button when focused */
.icon:focus {
    outline-color: #5290f9;
}

/* lines in icon button */
.icon .line {
    background-color: #5290f9;
    /* vertical thickness of the lines */
    height: 2px;
    /* horizontal length of lines */
    width: 20px;
    /* want to manually position */
    position: absolute;
    /* 10px from top */
    top: 10px;
    /* 5px from left */
    left: 5px;
    /* 0.6s transition on transform when active class toggled */
    transition: transform 0.6s linear;
}

/* line 2 in icon button  */
.icon .line2 {
    top: auto;
    /* 10px from bottom */
    bottom: 10px;
}

/* line 1 in icon button when nav active */
nav.active .icon .line1 {
    /* rotate 765deg counter-clockwise (ends up at 45deg angle), move 5.5px so lines cross at center to make X */
    transform: rotate(-765deg) translateY(5.5px);
    /* 0px from left so X is more centered in button. Much more noticeable since we kept outline*/
    left: 0px;
}

/* line 2 in icon button when nav active */
nav.active .icon .line2 {
    /* rotate 765deg clockwise (ends up at 45deg angle), move 5.5px so lines cross at center to make X */
    transform: rotate(765deg) translateY(-5.5px);
    /* 0px from left so X is more centered in button. Much more noticeable since we kept outline */
    left: 0px;
}